<!DOCTYPE html>
<html>
<head>
    <title>{{ test.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<div class="max-w-4xl mx-auto my-10 bg-white shadow-sm rounded-2xl p-8">
    <!-- Header -->
    <div class="flex justify-between items-center border-b pb-4 mb-6 w-full">
        <div class="p-4 mb-6 bg-blue-50 border rounded-lg w-full">
            <div class="flex justify-between items-center w-full border-b pb-4 mb-6">
                <h2 class="text-2xl font-bold text-blue-700">{{ test.title }}</h2>
                <div class="text-red-600 font-semibold text-lg">
                    ⏱ <span id="timer"></span>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
                <p><b>Candidate Email:</b> {{ attempt.email }}</p>
                <p><b>Total Questions:</b> {{ questions|length }}</p>
                <p><b>Total Marks:</b>
                    {{ total_marks }}
                </p>
                <p><b>Passing Score:</b> {{ test.passing_score }}%</p>
                <p><b>Duration:</b> {{ test.duration }} minutes</p>
            </div>
        </div>
    </div>
    <!-- Form -->
    <form id="testForm" method="POST">
        {% csrf_token %}
        <input type="hidden" name="auto_submit" id="autoSubmitField" value="false">
        {% for q in questions %}
        <div class="mb-6 p-4 border rounded-lg bg-gray-50">
            <div class="flex justify-between items-center mb-2">
                <p class="font-semibold text-gray-800">
                    {{ forloop.counter }}. {{ q.question }}
                </p>
                <span class="text-sm text-green-600 font-medium">
                    {{ q.marks }} Marks
                </span>
            </div>

            <div class="mt-3">
                {% if q.options %}
                {% for opt in q.options %}
                    <label class="flex items-center gap-2 p-2  mb-2 cursor-pointer hover:bg-gray-50">
                        <input type="radio" name="q_{{ q.id }}" value="{{ opt }}">
                        <span>{{ opt }}</span>
                    </label>
                {% endfor %}
                {% else %}
                <textarea name="q_{{ q.id }}" class="w-full border p-2 rounded" placeholder="Write your answer here"></textarea>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- Submit -->
        <div class="text-center mt-6">
            <button id="submitBtn" type="submit"
                class="px-6 py-2 bg-gradient-to-r from-cyan-500 to-purple-600 text-white rounded-lg hover:bg-blue-800">
                Submit Test
            </button>
        </div>
    </form>
</div>

</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    
        let timeLeft = {{ remaining_seconds|default:0 }};
        const timerDisplay = document.getElementById("timer");
        const form = document.getElementById("testForm");
        const submitBtn = document.getElementById("submitBtn");
    
        let interval;
        let isSubmitting = false;
    
        function startTimer() {
            let m = Math.floor(timeLeft / 60);
            let s = timeLeft % 60;
            timerDisplay.innerText = m + ":" + (s < 10 ? "0"+s : s);
    
            interval = setInterval(() => {
                let m = Math.floor(timeLeft / 60);
                let s = timeLeft % 60;
    
                timerDisplay.innerText = m + ":" + (s < 10 ? "0"+s : s);
    
                if (timeLeft <= 0) {
                    clearInterval(interval);
                    isSubmitting = true;
                    document.getElementById("autoSubmitField").value = "true";
                    form.submit();
                    return;
                }
    
                timeLeft--;
            }, 1000);
        }
    
        form.addEventListener("submit", function(){
            clearInterval(interval);
            submitBtn.disabled = true;
            isSubmitting = true;   // ✅ prevent alert
        });
    
        // ✅ only show warning if NOT submitting
        window.onbeforeunload = function () {
            if (!isSubmitting) {
                return "Changes you made may not be saved";
            }
        };
        
        let tabSwitchCount = 0;
        document.addEventListener("visibilitychange", function() {
            if (document.hidden) {
                tabSwitchCount++;
                alert("Warning: Tab switching detected!");
                if (tabSwitchCount >= 3) {
                    alert("Test auto-submitted due to multiple tab switches.");
                    document.querySelector("form").submit();
                }
            }
        });
    
        startTimer();
    });
    </script>
</html>